.history/
__pycache__/

categorized_csvs/
outputs/
statements/
temp/
cleaned_csvs/
*.csv
bank/
*.env
.streamlit/
official_models/
training_log
*.log
# .gitignore
# bank_transaction_tool/.gitignore
.env
finsight-ui/.env
__pycache__/
*.pyc
