lightgbm
python-Levenshtein
pandas
numpy
scikit-learn
python-dateutil
xgboost
spacy
scipy
fuzzywuzzy
fitz
pillow
chardet
PyMuPDF
PyPDF2
python-docx
docx2txt
streamlit
pdfplumber
setuptools
paddleocr
joblib
fpdf2
matplotlib
reportlab
faker
dill
gspread
oauth2client
plotly
cryptography
transformers
torch
seaborn
kaleido
psycopg2-binary
supabase
werkzeug
passlib[bcrypt]
python-dotenv
extra-streamlit-components
playwright
captcha
psutil==6.0.0
# Make sure requirements.txt includes:
streamlit
fastapi
uvicorn
httpx
websockets
pyjwt