lightgbm
python-Levenshtein
pandas
numpy
scikit-learn
python-dateutil
xgboost
spacy
scipy
fuzzywuzzy
pillow
chardet
PyMuPDF
python-docx
docx2txt
streamlit
pdfplumber
opencv-python
setuptools
paddleocr
joblib
fpdf2
matplotlib
reportlab
faker
dill
gspread
oauth2client
plotly
cryptography
transformers
torch
seaborn
kaleido
psycopg2-binary
supabase
werkzeug
passlib[bcrypt]
python-dotenv
extra-streamlit-components
paddlex
pytesseract